<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Création d'affiche de films</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
   <!-- Bootstrap CSS -->
   <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
</head>
<body>
  @include('layouts/main')

  <main>
    <form action="/films/{{film.id}}/save" method="POST">
    <div class="container">
        <label for="titre" class="form-label">Titre du film :</label>
          <div class="input-group mb-3">
              <input type="text" class="form-control" value="{{film.titre}}" name="titre" id="titre">
          </div>

        <label for="description" class="form-label">Description :</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" value="{{film.description}}" name="description" id="description">
          </div>  

        <label for="duree" class="form-label">Durée :</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" value="{{film.duree}}" name="duree" id="duree">
          </div>  
        
        <label for="anneeSortie" class="form-label">Année de sortie :</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" value="{{film.anneeSortie}}" name="anneeSortie" id="anneeSortie">
          </div>

        <label for="genre" class="form-label">Genre :</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" value="{{film.genre}}" name="genre" id="genre">
          </div>

        <label for="realisateur" class="form-label">Réalisateur :</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" value="{{film.realisateur}}" name="realisateur" id="realisateur">
          </div>  

        <label for="photo" class="form-label">Photo :</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" value="{{film.title}}" name="photo" id="photo" accept="image/png, image/jpeg">
          </div>

        <div class="lien">
          <input class="btn btn-success" type="submit" value="Enregistrer" id="submit">
          <a class="btn btn-danger" href="/">Annuler</a>
        </div>
      </div>
    </form>
  </main>
</body>

<style>
  html, body {
    background-color: #F7F8FA;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: #46444c;
    position: relative;
  }

  body:before {
    content: '';
    background: #5A45FF;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    position: absolute;
  }

  * {
    margin: 0;
    padding: 0;
  }

  a {
    color: #5A45FF;
    text-decoration: none;

  }

  main {
    padding: 0 30px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .lien{
      margin-left: 85%;
  }

  .title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    color: #17161A;
  }

  .subtitle {
    font-size: 26px;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 20px;
  }

  main ul {
    list-style: none;
  }

  main li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 25px;
  }

  main li:before {
    content: '—';
    position: absolute;
    left: 0;
  }

  main code {
    font-size: 16px;
    background: #e6e2ff;
  }

  form{
    width: 100%
  }
</style>
</html>
