<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>

  <style>
    .container{
      flex-wrap : wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .footer {
      position: fixed;
      padding: 10px;
      bottom: 0;
      width: 100%;
      background-color: #9E8FB2;
      color: white;
      text-align: center;
}
  </style>
  <body>
    @include('partials/header')
   
    @!section('body')

    @include('partials/footer')
  </body>
</html>